# Sample Database Code

Steal this code.

The TIdatabase module encapsulates all of the loading, storing and joining of the student, college and applications.

The module should be imported at the beginning of your code, whether it is a regular Python file or an iPython Notebook.

In [1]:
import TIdatabase as ti
%matplotlib inline 
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
import statsmodels.api as sm
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
from matplotlib import rcParams

## Generating Mock Data

In [2]:

students = ti.Student()
# populate students with random values
students.fillRandom(100)
students.df

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,GPA,program,schooltype,intendedgradyear,canAfford,female,MinorityGender,MinorityRace,international,firstinfamily,sports,artist,workexp
0,4KCUZCD1LL,0.771105,0.975972,0.001498,0.551330,0.567043,0.963749,1,3,2020,0,0,0,0,0,1,1,0,0
1,402R4WNB14,0.719487,0.675337,0.419395,0.043676,0.369956,0.858180,3,1,2015,0,0,0,1,1,0,0,1,1
2,RTBFPG5QYI,0.750965,0.568043,0.796529,0.114914,0.661319,0.417987,2,1,2020,1,1,1,0,0,0,1,0,0
3,XK6MNHBONB,0.218967,0.836108,0.882542,0.153149,0.435148,0.127508,2,2,2015,0,0,1,0,1,1,0,0,0
4,QA70NZ7O6Y,0.118800,0.036564,0.373537,0.803006,0.345103,0.169956,4,5,2014,0,1,0,0,1,0,0,1,1
5,2Q4M3NWV8J,0.841674,0.219230,0.198225,0.170270,0.655653,0.755084,2,3,2017,1,1,1,0,0,1,0,0,0
6,RY3B05RWN3,0.326309,0.491863,0.887241,0.815294,0.637176,0.164329,2,1,2019,0,1,1,1,1,1,0,0,0
7,4O2IHA0BAA,0.868354,0.356823,0.934563,0.486784,0.160082,0.147816,1,1,2019,0,1,0,1,1,1,0,1,0
8,GYN4EZHYBU,0.705627,0.554010,0.565483,0.972546,0.167186,0.576632,3,2,2018,1,1,0,0,1,1,1,1,0
9,HBPG3FD80G,0.376664,0.968173,0.136658,0.730480,0.378521,0.084765,5,4,2013,0,1,0,1,0,1,1,0,0
10,AW7T319RHZ,0.585814,0.664910,0.831684,0.578137,0.575093,0.649373,2,2,2015,0,1,1,0,1,1,1,1,0
11,V7SWZP8Z2V,0.976139,0.247344,0.592586,0.638916,0.570595,0.626497,3,2,2019,0,1,0,0,0,1,1,0,0
12,J50XHTZN2A,0.868873,0.327906,0.181006,0.508668,0.539586,0.361939,1,1,2020,1,1,1,1,1,1,0,1,1
13,EJMC7WECHK,0.177256,0.437884,0.219351,0.072743,0.899752,0.766800,5,1,2012,1,1,1,0,0,0,0,0,1
14,6U7539G4HH,0.933477,0.986189,0.391105,0.064876,0.590378,0.948732,3,1,2012,1,1,0,0,1,0,0,0,1
15,ZWGCMTKLOA,0.788322,0.347092,0.949023,0.336932,0.506233,0.688982,3,1,2013,0,0,0,0,1,1,1,0,0
16,LJJJW7ZM1H,0.819519,0.985773,0.565490,0.570939,0.749046,0.041920,3,3,2012,0,0,1,0,1,1,0,1,0
17,QNZEWLGCET,0.810393,0.170846,0.232432,0.892311,0.544956,0.095889,5,3,2018,0,1,0,0,1,1,0,1,0
18,A2GDJE9ZW9,0.812067,0.350517,0.045816,0.860596,0.874781,0.387457,2,1,2010,0,1,0,1,1,1,1,1,1
19,65J8QT9Z01,0.293174,0.239257,0.829467,0.855160,0.287963,0.607485,4,4,2017,1,0,0,0,1,0,0,1,0
20,CJPQ4PSN60,0.987173,0.565950,0.556983,0.347334,0.519565,0.192082,3,5,2011,0,1,1,1,1,1,0,1,0
21,DPZ4VAXQDA,0.686524,0.309847,0.068586,0.624756,0.015842,0.310947,1,3,2010,1,0,0,1,1,0,1,1,0
22,AUC293WON0,0.299880,0.192559,0.597167,0.332750,0.761800,0.466169,5,5,2013,1,0,1,1,1,0,0,0,0
23,I8LKGJWVTT,0.693873,0.253042,0.365922,0.611453,0.286595,0.028627,2,1,2020,0,0,0,0,0,0,1,1,0
24,284QG4XTDV,0.561515,0.047765,0.537412,0.849190,0.128830,0.968250,3,2,2015,1,1,1,0,1,1,0,1,0
25,FNIUJFTMFC,0.335742,0.518017,0.300929,0.553107,0.706798,0.880868,4,1,2017,0,0,1,1,0,1,0,0,0
26,WW1S9ZTY21,0.064328,0.764724,0.020231,0.981359,0.820731,0.612430,2,1,2010,1,1,0,1,1,0,1,1,1
27,SLZZ23VJZQ,0.334851,0.628926,0.408911,0.453007,0.584588,0.540355,1,3,2019,1,1,1,0,0,1,0,0,0
28,G1JNV9OBBT,0.419745,0.312842,0.575466,0.237460,0.672773,0.047607,4,1,2017,1,0,0,1,1,0,0,1,0
29,RZIOCYKWSZ,0.605868,0.866970,0.660064,0.649473,0.229839,0.711104,4,3,2016,0,1,1,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,NL2IZUNA26,0.656326,0.820547,0.536744,0.775484,0.940074,0.984078,5,2,2014,1,1,0,1,1,0,0,1,0
71,XGO9O422P5,0.901533,0.022754,0.376774,0.935457,0.285636,0.266473,4,3,2010,1,0,0,0,0,0,0,1,0
72,PKVH9A1N63,0.931860,0.845682,0.674764,0.949651,0.568095,0.531194,5,1,2016,1,0,0,1,0,1,1,1,1
73,YFLF5CF06A,0.432288,0.743273,0.875642,0.057728,0.530440,0.810034,4,3,2011,1,1,0,0,0,1,1,0,1
74,GREYRP5EAH,0.923056,0.855604,0.669930,0.031762,0.080910,0.678941,1,2,2013,0,0,0,1,0,0,1,0,0
75,I2P8DYXGUD,0.545873,0.246499,0.213245,0.904765,0.736645,0.491932,1,4,2019,0,1,0,0,0,0,1,0,1
76,2P5YHAINUE,0.142265,0.383756,0.839721,0.628851,0.589918,0.448250,5,3,2013,0,0,1,1,1,1,0,1,0
77,310MJ0FSN6,0.597909,0.061354,0.504070,0.859105,0.092459,0.427005,4,1,2014,1,1,0,1,1,1,1,1,1
78,2HW8EJ7JHD,0.613301,0.253509,0.462264,0.950270,0.830441,0.832578,1,3,2018,1,0,0,0,0,0,0,0,1
79,SMYKR9OOB7,0.650480,0.195567,0.159573,0.909093,0.895141,0.261092,3,2,2015,0,0,1,1,1,0,1,0,1
80,EO2WROANOY,0.821874,0.904653,0.359554,0.815516,0.872057,0.672755,3,2,2017,0,0,1,1,0,1,0,1,1
81,5KBKWEV4OW,0.497184,0.405408,0.858361,0.680774,0.561358,0.895507,1,1,2018,1,1,0,0,1,0,1,1,1
82,UG2LWTW06X,0.167336,0.424078,0.456088,0.634477,0.896952,0.238800,2,3,2016,1,1,1,1,1,1,1,1,0
83,Q84MUUEGHN,0.369384,0.702960,0.814059,0.912824,0.218839,0.147251,3,1,2010,1,0,0,1,1,1,0,0,0
84,ZLCRE1TQHU,0.069663,0.252552,0.346221,0.469824,0.105041,0.507718,5,1,2010,0,0,0,1,1,0,0,0,1
85,WU76878W0U,0.473257,0.447912,0.513656,0.949400,0.857950,0.765268,5,2,2013,1,0,1,1,1,0,0,0,0
86,C3BF46OIN7,0.880976,0.795959,0.111899,0.888705,0.213492,0.823953,4,4,2017,0,1,1,1,0,1,0,0,1
87,D0BT6X067W,0.017034,0.531795,0.501613,0.841389,0.528154,0.084647,4,1,2016,0,0,1,0,1,0,1,0,0
88,Z67BA9G5HG,0.998211,0.538681,0.953967,0.130098,0.835302,0.257117,1,3,2017,1,1,0,1,1,1,0,1,0
89,DIIXLNXMQK,0.580169,0.922754,0.768823,0.238436,0.496260,0.678926,3,2,2014,0,0,0,1,1,0,1,0,1
90,4I49V30IKW,0.039437,0.750967,0.326958,0.226397,0.837403,0.579541,4,1,2012,1,1,1,1,1,1,1,0,1
91,VASLQHVNXB,0.758818,0.179941,0.967971,0.213327,0.873652,0.495702,3,5,2015,0,1,1,1,1,1,1,0,1
92,L5OFNPDWSJ,0.269892,0.686747,0.448936,0.568427,0.460566,0.164557,5,4,2014,1,1,0,0,1,1,1,0,0
93,GF3BINLMQG,0.245952,0.394180,0.735832,0.632757,0.214956,0.797670,1,3,2019,0,1,0,1,1,1,0,0,1
94,05IZU3R9S2,0.810856,0.018830,0.182880,0.253154,0.557725,0.366632,5,3,2019,0,1,1,1,1,1,1,0,1
95,Z7KXXTI61F,0.018613,0.828330,0.054275,0.730896,0.182948,0.272396,4,4,2017,0,0,0,1,0,0,1,1,0
96,H0GMVL9J2D,0.946114,0.600673,0.985034,0.035909,0.003703,0.908902,2,2,2016,0,0,0,0,1,1,1,1,1
97,A2U01HKFHL,0.686737,0.977731,0.548253,0.407934,0.198494,0.516564,2,4,2013,0,1,1,0,0,1,0,0,1
98,AEY7ULO7PH,0.800033,0.538310,0.619145,0.247734,0.305101,0.736420,2,1,2018,1,0,0,1,1,1,0,0,0
99,KDSU20Y8Q4,0.086196,0.664403,0.144737,0.206945,0.314605,0.307013,5,4,2014,1,0,0,1,1,0,1,0,1

#### Simulating Missing Data

You can also simulate NaNs in the scraping. fillRandom takes a second optional parameter that is the percentage of NaNs to generate

In [3]:
students.fillRandom(100, 0.25) # 25% of values will be NaN
students.df

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,GPA,program,schooltype,intendedgradyear,canAfford,female,MinorityGender,MinorityRace,international,firstinfamily,sports,artist,workexp
0,A732DH9VJU,NaN,0.887789,0.312853,NaN,NaN,0.939428,3,3,2011,NaN,NaN,1,1,1,1,1,NaN,0
1,H53O2WEXSH,0.964960,0.642339,0.353219,0.400775,0.418114,NaN,1,1,2013,NaN,1,1,NaN,0,NaN,1,1,NaN
2,C9OUR9PZXF,0.800986,0.518285,0.493286,0.420449,NaN,NaN,5,5,2020,NaN,NaN,1,NaN,NaN,0,1,0,1
3,MG8LKG6YAS,NaN,0.927249,NaN,0.783814,NaN,NaN,2,NaN,2018,0,0,0,1,0,0,NaN,0,0
4,3L5SIAWSW8,NaN,0.462227,NaN,0.744357,0.837506,NaN,4,3,2020,0,1,0,0,NaN,NaN,1,1,0
5,VALBOQE9WO,NaN,0.057139,0.424231,NaN,NaN,0.838988,NaN,4,2020,1,0,1,1,NaN,0,0,1,NaN
6,A51KZRNDAR,NaN,NaN,0.488157,NaN,NaN,0.520232,3,1,2018,0,NaN,0,0,1,0,1,NaN,1
7,EXKIZ1888F,0.887083,0.899833,0.856945,NaN,NaN,NaN,4,3,2020,1,NaN,0,1,0,0,0,NaN,NaN
8,XWYWUE5A9G,NaN,NaN,0.418526,0.103691,NaN,0.292479,3,2,NaN,0,0,1,NaN,0,1,1,1,NaN
9,V057B2MK9W,0.508864,0.498734,0.960757,0.934739,0.544326,NaN,1,2,NaN,NaN,1,NaN,1,NaN,1,0,0,1
10,8EZ2HQBN98,NaN,NaN,0.385143,0.309356,NaN,0.064444,4,4,2018,NaN,NaN,0,0,1,1,NaN,1,0
11,XYAT82BFW8,0.601998,NaN,NaN,0.518628,0.339107,0.473040,2,5,2010,NaN,0,NaN,1,NaN,NaN,1,1,1
12,E0IBHO0ZC2,NaN,0.331444,0.547477,0.096443,0.387016,0.341507,1,NaN,2016,0,1,NaN,NaN,NaN,1,0,1,0
13,PRE0RVU8KO,NaN,0.565857,0.041624,NaN,NaN,NaN,2,4,2015,1,0,NaN,0,1,0,NaN,1,1
14,4LGHLK3N41,0.262778,0.578314,0.522172,NaN,0.844659,0.194140,NaN,2,NaN,NaN,1,1,NaN,1,0,NaN,0,1
15,7WFQK1MXHT,0.346716,NaN,NaN,0.880406,0.062087,0.173382,1,2,2015,1,NaN,0,0,NaN,NaN,0,0,1
16,87AS4FV61Y,0.294965,0.993684,0.003508,0.969846,NaN,0.470568,3,NaN,NaN,0,NaN,1,NaN,0,1,0,NaN,1
17,CDLPD5T1PY,0.355097,NaN,0.276537,0.514035,0.486584,0.126275,2,2,NaN,NaN,NaN,0,1,0,1,NaN,1,NaN
18,UEWYPXHHF3,0.339361,0.461603,NaN,0.972074,NaN,0.451256,5,NaN,2018,NaN,1,0,NaN,0,1,0,0,NaN
19,P42AZ2ED0G,0.786538,NaN,0.803636,NaN,0.276536,0.747687,NaN,1,NaN,0,1,0,1,1,1,1,NaN,0
20,WN5RDSQ2TP,0.721510,0.465255,NaN,NaN,NaN,0.231560,4,5,2010,1,NaN,0,1,0,NaN,1,0,0
21,VBT5DT7N0I,0.530984,0.212961,0.512755,NaN,NaN,0.798100,1,4,2018,0,1,0,NaN,NaN,1,NaN,NaN,1
22,Y68GXANQCM,0.724562,0.556386,0.571311,0.575230,NaN,0.061525,NaN,5,NaN,1,1,1,NaN,NaN,0,0,1,1
23,JKCMJQBPD5,0.713378,NaN,NaN,0.875261,0.831522,NaN,3,NaN,2011,1,0,1,0,NaN,NaN,0,0,1
24,ZXQY2659XU,0.110292,NaN,0.616058,0.848252,0.535254,0.651161,NaN,5,2011,NaN,1,0,0,NaN,1,NaN,NaN,1
25,RFZ3UBUFJX,0.976148,NaN,NaN,0.454483,NaN,0.915474,2,2,NaN,0,0,NaN,1,1,1,1,1,NaN
26,5J8Q2TIK1P,0.378711,0.496038,NaN,0.183909,0.620507,NaN,NaN,3,NaN,0,0,1,NaN,1,NaN,0,0,1
27,ZW60NVWSK6,NaN,NaN,0.495291,NaN,0.821633,0.870560,5,4,2012,1,NaN,1,1,0,0,NaN,NaN,1
28,HXDLJTX29R,0.597398,0.959655,0.895768,NaN,0.370225,NaN,1,2,NaN,1,NaN,1,NaN,1,1,1,1,0
29,6LFH6QCBR2,NaN,0.634371,0.096142,NaN,0.762265,0.203469,NaN,NaN,2015,0,0,1,NaN,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,C7BAUD3OYS,0.862058,0.667394,0.738887,NaN,NaN,0.595068,2,1,2018,NaN,0,0,0,0,NaN,0,0,NaN
71,PDHJZKG2YG,0.886816,0.704620,0.840622,0.568232,NaN,NaN,5,4,2015,0,NaN,0,0,NaN,0,NaN,1,NaN
72,O0H04PYUDY,0.911245,0.023434,NaN,0.186657,0.172145,0.017954,3,1,NaN,NaN,1,1,NaN,0,0,1,NaN,NaN
73,ZSQ4KV8LAV,0.864449,0.603198,0.925590,0.486703,0.729483,0.495805,5,4,NaN,NaN,0,NaN,0,NaN,1,1,1,NaN
74,Z8DCI1Y4JQ,NaN,0.223814,NaN,0.149985,NaN,0.637357,NaN,1,2012,1,1,0,1,1,1,1,NaN,NaN
75,E2K21EEROE,0.805509,NaN,0.825286,0.678071,NaN,0.697341,3,NaN,2014,1,0,NaN,NaN,0,1,NaN,0,0
76,U1K3S7BH2Y,NaN,0.822859,NaN,NaN,0.333118,0.059887,3,5,NaN,0,1,NaN,0,1,0,0,1,0
77,3WTPY998NW,0.441700,NaN,0.574856,NaN,0.150047,0.873892,4,NaN,2010,1,0,1,NaN,1,1,0,0,NaN
78,87UWYGMS4S,0.570006,0.711816,0.961723,0.172983,0.938711,0.704497,3,3,NaN,NaN,0,0,0,NaN,NaN,NaN,0,NaN
79,6Z808UCUR4,NaN,NaN,0.721139,0.496919,NaN,0.267423,3,1,NaN,1,1,1,NaN,0,0,0,1,NaN
80,ABR5GJPZC1,NaN,0.055708,0.195359,0.143633,0.191760,0.666985,3,4,2019,NaN,1,NaN,NaN,0,0,0,NaN,NaN
81,2A1KJR9KFE,0.893740,NaN,NaN,0.553656,0.572010,0.608300,1,NaN,2015,NaN,0,NaN,0,1,NaN,1,1,0
82,A56WUEWCTM,NaN,0.587286,0.288604,0.067124,0.540110,0.144412,2,NaN,2017,1,1,NaN,1,0,NaN,0,0,NaN
83,JJMS1TCEX2,NaN,NaN,0.244181,0.985482,NaN,NaN,4,3,NaN,0,0,0,1,0,1,0,0,0
84,71K7TJ0I08,0.119683,NaN,0.560880,0.744224,NaN,NaN,NaN,2,2017,1,0,1,0,NaN,NaN,1,1,1
85,8MK4HK6OPV,NaN,NaN,0.524486,0.314728,0.544811,0.218350,NaN,4,2015,1,0,NaN,NaN,NaN,0,1,0,1
86,NLNX51BIDP,0.765127,0.524646,0.162793,NaN,0.089554,NaN,1,5,2011,NaN,NaN,1,1,NaN,0,NaN,1,0
87,TPJ9FP7QT3,0.773913,NaN,0.266929,NaN,0.013446,NaN,4,3,2020,NaN,NaN,1,1,0,1,1,NaN,1
88,0OXGMI8NPP,0.711981,NaN,0.756233,NaN,0.504030,0.376838,5,2,2018,NaN,NaN,0,0,0,NaN,0,1,NaN
89,GZ3HUZ5WIU,0.388677,0.266884,0.364259,0.201100,0.883065,NaN,NaN,3,2020,NaN,0,1,0,0,1,NaN,0,NaN
90,1WT9M9MY90,0.625105,0.720908,0.952240,NaN,0.802929,0.992410,4,4,NaN,0,1,NaN,1,NaN,NaN,1,0,NaN
91,0TQDR86YHJ,0.577903,NaN,0.253944,0.733832,0.038771,0.729873,1,1,2013,NaN,1,1,NaN,NaN,NaN,NaN,0,0
92,CXFTPOTVU2,0.720429,0.793692,0.867246,NaN,0.200057,0.362345,2,4,NaN,1,1,0,1,NaN,0,0,NaN,NaN
93,L4O839JXJR,0.692495,0.853943,0.036858,0.580470,0.248053,NaN,NaN,NaN,2015,NaN,1,0,1,1,0,1,NaN,NaN
94,COIKJ17U7C,0.882268,0.084886,0.963157,0.398738,NaN,0.482533,NaN,5,2010,NaN,0,1,NaN,NaN,0,0,0,0
95,ICXPSV0ZP4,NaN,0.344155,0.217050,0.873603,NaN,0.927669,4,NaN,NaN,1,1,0,0,0,NaN,1,1,NaN
96,552ALRF5B4,NaN,0.610484,0.064775,0.753034,0.709145,0.133089,4,4,NaN,1,0,NaN,0,1,NaN,1,1,NaN
97,MKGGXWHEAP,0.780669,0.600991,0.998574,NaN,NaN,0.868306,2,5,2017,NaN,0,NaN,NaN,0,1,NaN,1,1
98,WML8PO6SQX,0.039465,NaN,0.057035,0.211773,NaN,0.992940,2,5,2019,NaN,0,NaN,0,0,1,NaN,0,1
99,3Q94SK0JL6,0.199802,NaN,0.680323,NaN,0.086430,0.089206,1,5,NaN,NaN,0,NaN,0,0,0,0,1,NaN

The list of colleges is populated from a CSV stored in the same directory as this notebook. It can be edited using your favorite CSV editor, such as Excel. When you create a new instance of College, the values will be read in from the CSV

In [4]:
# populate with list of known colleges
colleges = ti.College()
colleges.df

,collegeID,name,acceptrate,size,public,finAidPct,instatePct
0,Princeton,Princeton,7.40%,5142,-1,0.00,0
1,Harvard,Harvard,6.00%,19929,-1,0.75,0
2,Yale,Yale,6.30%,12336,-1,0.00,0
3,Columbia,Columbia,7.00%,24221,-1,0.00,0
4,Stanford,Stanford,5.10%,16795,-1,0.00,0
5,UChicago,UChicago,8.80%,12558,-1,0.00,0
6,MIT,MIT,7.90%,11319,-1,0.00,0
7,Duke,Duke,11.40%,15856,-1,0.00,0
8,UPenn,UPenn,10.40%,21296,-1,0.00,0
9,CalTech,CalTech,8.80%,2209,-1,0.00,0
10,JohnsHopkins,JohnsHopkins,15.00%,21484,-1,0.00,0
11,Dartmouth,Dartmouth,11.50%,6298,-1,0.00,0
12,Northwestern,Northwestern,13.10%,20336,-1,0.00,0
13,Brown,Brown,8.70%,9181,-1,0.00,0
14,Cornell,Cornell,14.20%,21850,-1,0.00,0
15,Vanderbilt,Vanderbilt,13.10%,12686,-1,0.00,0
16,WashU,WashU,17.10%,14348,-1,0.00,0
17,Rice,Rice,15.10%,6621,-1,0.00,0
18,NotreDame,NotreDame,21.10%,12179,-1,0.00,0
19,UCB,UCB,16.00%,37581,1,0.66,0
20,Emory,Emory,26.80%,14769,-1,0.00,0
21,Georgetown,Georgetown,17.40%,17858,-1,0.00,0
22,CarnegieMellon,CarnegieMellon,24.60%,13285,-1,0.00,0
23,UCLA,UCLA,18.60%,43239,1,0.00,0
24,USC,USC,18.00%,42469,1,0.00,0

This is the table of application forms. "acceptStatus" is our predictor. "acceptProb" is our $\hat{Y}$ probability.

In [5]:
applForm = ti.ApplForm()
applForm.fillRandom(1000)
applForm.df.head()

,studentID,collegeID,earlyAppl,visited,alumni,outofstate,acceptStatus,acceptProb
0,6Z808UCUR4,UChicago,0,0,1,0,0,0.917568
1,INRE2YZSTX,Columbia,0,0,0,1,1,0.372677
2,BHXNVQQNZL,Georgetown,1,1,1,1,1,0.063523
3,EXKIZ1888F,Vanderbilt,0,1,0,1,1,0.271557
4,36JOT0Z9NX,Princeton,0,0,1,1,0,0.506565

To combine the student and application forms tables, use Pandas merge capability, which will match rows by identical column names, which is studentID in this case:

In [6]:
applications = pd.merge(students.df,applForm.df)
applications

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,GPA,program,schooltype,intendedgradyear,...,sports,artist,workexp,collegeID,earlyAppl,visited,alumni,outofstate,acceptStatus,acceptProb
0,A732DH9VJU,NaN,0.887789,0.312853,NaN,NaN,0.939428,3,3,2011,...,1,NaN,0,Princeton,1,0,1,1,0,0.517832
1,A732DH9VJU,NaN,0.887789,0.312853,NaN,NaN,0.939428,3,3,2011,...,1,NaN,0,Stanford,0,0,0,0,0,0.187786
2,A732DH9VJU,NaN,0.887789,0.312853,NaN,NaN,0.939428,3,3,2011,...,1,NaN,0,USC,0,1,0,1,0,0.035499
3,A732DH9VJU,NaN,0.887789,0.312853,NaN,NaN,0.939428,3,3,2011,...,1,NaN,0,MIT,1,0,0,0,0,0.773273
4,A732DH9VJU,NaN,0.887789,0.312853,NaN,NaN,0.939428,3,3,2011,...,1,NaN,0,Vanderbilt,1,0,0,0,0,0.789076
5,A732DH9VJU,NaN,0.887789,0.312853,NaN,NaN,0.939428,3,3,2011,...,1,NaN,0,UCB,0,1,1,0,0,0.346625
6,A732DH9VJU,NaN,0.887789,0.312853,NaN,NaN,0.939428,3,3,2011,...,1,NaN,0,Georgetown,1,1,0,0,1,0.753939
7,A732DH9VJU,NaN,0.887789,0.312853,NaN,NaN,0.939428,3,3,2011,...,1,NaN,0,NotreDame,1,0,0,0,1,0.406366
8,A732DH9VJU,NaN,0.887789,0.312853,NaN,NaN,0.939428,3,3,2011,...,1,NaN,0,CalTech,0,0,1,0,1,0.896017
9,A732DH9VJU,NaN,0.887789,0.312853,NaN,NaN,0.939428,3,3,2011,...,1,NaN,0,Yale,0,1,0,0,1,0.749647
10,A732DH9VJU,NaN,0.887789,0.312853,NaN,NaN,0.939428,3,3,2011,...,1,NaN,0,UCLA,1,0,1,0,1,0.551251
11,A732DH9VJU,NaN,0.887789,0.312853,NaN,NaN,0.939428,3,3,2011,...,1,NaN,0,Brown,1,0,1,0,0,0.534352
12,H53O2WEXSH,0.964960,0.642339,0.353219,0.400775,0.418114,NaN,1,1,2013,...,1,1,NaN,Northwestern,0,0,1,1,1,0.916133
13,H53O2WEXSH,0.964960,0.642339,0.353219,0.400775,0.418114,NaN,1,1,2013,...,1,1,NaN,NotreDame,1,0,0,0,0,0.328353
14,H53O2WEXSH,0.964960,0.642339,0.353219,0.400775,0.418114,NaN,1,1,2013,...,1,1,NaN,Yale,1,1,0,0,1,0.370063
15,H53O2WEXSH,0.964960,0.642339,0.353219,0.400775,0.418114,NaN,1,1,2013,...,1,1,NaN,WashU,0,1,0,1,0,0.845025
16,H53O2WEXSH,0.964960,0.642339,0.353219,0.400775,0.418114,NaN,1,1,2013,...,1,1,NaN,Vanderbilt,1,1,1,1,0,0.582294
17,H53O2WEXSH,0.964960,0.642339,0.353219,0.400775,0.418114,NaN,1,1,2013,...,1,1,NaN,Princeton,1,1,1,0,0,0.889295
18,H53O2WEXSH,0.964960,0.642339,0.353219,0.400775,0.418114,NaN,1,1,2013,...,1,1,NaN,JohnsHopkins,0,1,1,1,0,0.671431
19,C9OUR9PZXF,0.800986,0.518285,0.493286,0.420449,NaN,NaN,5,5,2020,...,1,0,1,Stanford,1,1,0,0,0,0.402575
20,C9OUR9PZXF,0.800986,0.518285,0.493286,0.420449,NaN,NaN,5,5,2020,...,1,0,1,Columbia,1,1,1,0,0,0.848590
21,C9OUR9PZXF,0.800986,0.518285,0.493286,0.420449,NaN,NaN,5,5,2020,...,1,0,1,Georgetown,1,1,1,1,0,0.789419
22,C9OUR9PZXF,0.800986,0.518285,0.493286,0.420449,NaN,NaN,5,5,2020,...,1,0,1,CarnegieMellon,1,1,1,1,0,0.130601
23,C9OUR9PZXF,0.800986,0.518285,0.493286,0.420449,NaN,NaN,5,5,2020,...,1,0,1,Harvard,0,1,0,0,0,0.175966
24,C9OUR9PZXF,0.800986,0.518285,0.493286,0.420449,NaN,NaN,5,5,2020,...,1,0,1,Princeton,1,0,0,0,1,0.628232
25,C9OUR9PZXF,0.800986,0.518285,0.493286,0.420449,NaN,NaN,5,5,2020,...,1,0,1,UChicago,1,1,1,0,0,0.040411
26,C9OUR9PZXF,0.800986,0.518285,0.493286,0.420449,NaN,NaN,5,5,2020,...,1,0,1,USC,0,0,0,0,1,0.431839
27,C9OUR9PZXF,0.800986,0.518285,0.493286,0.420449,NaN,NaN,5,5,2020,...,1,0,1,Rice,0,0,0,1,0,0.585847
28,C9OUR9PZXF,0.800986,0.518285,0.493286,0.420449,NaN,NaN,5,5,2020,...,1,0,1,Vanderbilt,0,0,0,0,0,0.214485
29,C9OUR9PZXF,0.800986,0.518285,0.493286,0.420449,NaN,NaN,5,5,2020,...,1,0,1,WashU,0,1,0,1,0,0.208484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,552ALRF5B4,NaN,0.610484,0.064775,0.753034,0.709145,0.133089,4,4,NaN,...,1,1,NaN,USC,1,1,1,0,1,0.538191
971,MKGGXWHEAP,0.780669,0.600991,0.998574,NaN,NaN,0.868306,2,5,2017,...,NaN,1,1,Brown,1,0,0,1,0,0.836103
972,MKGGXWHEAP,0.780669,0.600991,0.998574,NaN,NaN,0.868306,2,5,2017,...,NaN,1,1,UChicago,0,0,1,0,1,0.326456
973,MKGGXWHEAP,0.780669,0.600991,0.998574,NaN,NaN,0.868306,2,5,2017,...,NaN,1,1,Emory,1,0,0,1,0,0.150273
974,MKGGXWHEAP,0.780669,0.600991,0.998574,NaN,NaN,0.868306,2,5,2017,...,NaN,1,1,WashU,1,1,0,1,1,0.054785
975,MKGGXWHEAP,0.780669,0.600991,0.998574,NaN,NaN,0.868306,2,5,2017,...,NaN,1,1,Vanderbilt,0,1,0,1,0,0.973699
976,MKGGXWHEAP,0.780669,0.600991,0.998574,NaN,NaN,0.868306,2,5,2017,...,NaN,1,1,Rice,1,0,1,0,0,0.279081
977,MKGGXWHEAP,0.780669,0.600991,0.998574,NaN,NaN,0.868306,2,5,2017,...,NaN,1,1,JohnsHopkins,1,1,1,1,1,0.701535
978,MKGGXWHEAP,0.780669,0.600991,0.998574,NaN,NaN,0.868306,2,5,2017,...,NaN,1,1,UCB,0,1,0,1,0,0.877079
979,MKGGXWHEAP,0.780669,0.600991,0.998574,NaN,NaN,0.868306,2,5,2017,...,NaN,1,1,Dartmouth,1,1,0,0,1,0.530562
980,MKGGXWHEAP,0.780669,0.600991,0.998574,NaN,NaN,0.868306,2,5,2017,...,NaN,1,1,Cornell,1,1,1,1,0,0.724372
981,WML8PO6SQX,0.039465,NaN,0.057035,0.211773,NaN,0.992940,2,5,2019,...,NaN,0,1,UPenn,1,0,0,0,0,0.000292
982,WML8PO6SQX,0.039465,NaN,0.057035,0.211773,NaN,0.992940,2,5,2019,...,NaN,0,1,Dartmouth,1,0,0,1,0,0.955683
983,WML8PO6SQX,0.039465,NaN,0.057035,0.211773,NaN,0.992940,2,5,2019,...,NaN,0,1,MIT,1,1,0,0,1,0.258047
984,WML8PO6SQX,0.039465,NaN,0.057035,0.211773,NaN,0.992940,2,5,2019,...,NaN,0,1,Princeton,0,0,1,1,0,0.068788
985,WML8PO6SQX,0.039465,NaN,0.057035,0.211773,NaN,0.992940,2,5,2019,...,NaN,0,1,Emory,0,0,1,1,1,0.240031
986,WML8PO6SQX,0.039465,NaN,0.057035,0.211773,NaN,0.992940,2,5,2019,...,NaN,0,1,UCB,1,1,0,1,1,0.681705
987,WML8PO6SQX,0.039465,NaN,0.057035,0.211773,NaN,0.992940,2,5,2019,...,NaN,0,1,Columbia,0,1,1,1,1,0.190845
988,WML8PO6SQX,0.039465,NaN,0.057035,0.211773,NaN,0.992940,2,5,2019,...,NaN,0,1,UCLA,0,1,1,1,1,0.071576
989,WML8PO6SQX,0.039465,NaN,0.057035,0.211773,NaN,0.992940,2,5,2019,...,NaN,0,1,Northwestern,0,1,1,0,0,0.407288
990,WML8PO6SQX,0.039465,NaN,0.057035,0.211773,NaN,0.992940,2,5,2019,...,NaN,0,1,UChicago,0,0,0,1,0,0.694499
991,3Q94SK0JL6,0.199802,NaN,0.680323,NaN,0.086430,0.089206,1,5,NaN,...,0,1,NaN,Yale,1,1,1,0,0,0.013326
992,3Q94SK0JL6,0.199802,NaN,0.680323,NaN,0.086430,0.089206,1,5,NaN,...,0,1,NaN,Georgetown,1,1,1,1,0,0.061493
993,3Q94SK0JL6,0.199802,NaN,0.680323,NaN,0.086430,0.089206,1,5,NaN,...,0,1,NaN,Cornell,1,0,1,1,0,0.099236
994,3Q94SK0JL6,0.199802,NaN,0.680323,NaN,0.086430,0.089206,1,5,NaN,...,0,1,NaN,MIT,0,1,0,1,1,0.065150
995,3Q94SK0JL6,0.199802,NaN,0.680323,NaN,0.086430,0.089206,1,5,NaN,...,0,1,NaN,Vanderbilt,0,1,1,1,1,0.629026
996,3Q94SK0JL6,0.199802,NaN,0.680323,NaN,0.086430,0.089206,1,5,NaN,...,0,1,NaN,JohnsHopkins,0,1,1,1,0,0.542747
997,3Q94SK0JL6,0.199802,NaN,0.680323,NaN,0.086430,0.089206,1,5,NaN,...,0,1,NaN,CarnegieMellon,1,1,1,0,0,0.195513
998,3Q94SK0JL6,0.199802,NaN,0.680323,NaN,0.086430,0.089206,1,5,NaN,...,0,1,NaN,NotreDame,1,1,1,0,1,0.917511
999,3Q94SK0JL6,0.199802,NaN,0.680323,NaN,0.086430,0.089206,1,5,NaN,...,0,1,NaN,UChicago,1,1,0,1,0,0.218749

Now the `applications` Pandas DataFrame is ready to use for either regression (by overwriting the acceptProb column) or building the public facing web site.

## Saving Scraped Data

### Part 1 - The Student Data

First, let's start fresh and delete the previously created objects. This is only necessary because this sample script is running within Jupyter where all variables are global to the page. In a separate Python file run from the command line, this step can be skipped. Creating a new instance would not work as behind the scenes, there is sharing of
DataFrames between objects.

In [8]:
if ('students' in locals()): 
    students.cleanup()
    del students
if ('applications' in locals()): del applications
if ('applForm' in locals()): del applForm

Let's create a new students instance. It will be an empty Pandas dataframe with the correct columns

In [9]:
students = ti.Student()
students.df

Empty DataFrame
Columns: [studentID, classrank, admissionstest, AP, averageAP, SATsubject, GPA, program, schooltype, intendedgradyear, canAfford, female, MinorityGender, MinorityRace, outofstate, international, firstinfamily, alumni, sports, artist, workexp]
Index: []

[0 rows x 21 columns]

Populate a dictionary with the values that the scraper has for a given row. Make sure the keys match up with the column names as only the matching columns will be saved. There is no need to add the studentID key. A unique value will be generated automatically and returned from the insert. This will be in the same order as the provided rows. Saving the generated student IDs will be helpful later when populating the applForm foreign key.

In [10]:

# Example: international male who scored in 98th percentile in ACT/SAT, went to a public school and is applying for
# Class of 2020

newrow = {'admissionstest': 0.98,
         'GPA': 4.5,
         'female' : -1,
         'international': 1,
         'schooltype': -1,
         'intendedgradyear':2020}

newsinglestudentID = students.insert(newrow)
print "New studentID:",newsinglestudentID
students.df

New studentID: ['YORQ5E84NJ']

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,GPA,program,schooltype,intendedgradyear,...,female,MinorityGender,MinorityRace,outofstate,international,firstinfamily,alumni,sports,artist,workexp
0,YORQ5E84NJ,NaN,0.98,NaN,NaN,NaN,4.5,NaN,-1,2020,...,-1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN

It is more efficient if multiple rows are added in one step. In this case, create a list of dictionaries and just
use the same method. Here, two new rows are added to the DataFrame in one step.

In [11]:
rows = []
a = {'schooltype': -1, 'admissionstest': 0.98, 'GPA': 4.5, 'female': 1, 'intendedgradyear': 2019, 'international': 0}
rows.append(a)
a = {'schooltype': 1, 'admissionstest': 0.65, 'GPA': 2.2, 'female': -1, 'intendedgradyear': 2019, 'international': 0}
rows.append(a)
newmanystudentIDs = students.insert(rows)
print "New studentIDs:",newmanystudentIDs
students.df

New studentIDs: ['9828HQ8W5T', 'OGDW3PRTHS']

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,GPA,program,schooltype,intendedgradyear,...,female,MinorityGender,MinorityRace,outofstate,international,firstinfamily,alumni,sports,artist,workexp
0,YORQ5E84NJ,NaN,0.98,NaN,NaN,NaN,4.5,NaN,-1,2020,...,-1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
0,9828HQ8W5T,NaN,0.98,NaN,NaN,NaN,4.5,NaN,-1,2019,...,1,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
1,OGDW3PRTHS,NaN,0.65,NaN,NaN,NaN,2.2,NaN,1,2019,...,-1,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN

Now we are ready to save. The data is saved in CSV format for ease of interpretability.

In [12]:
students.save("mydata.csv")

In [55]:
students.df

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,GPA,program,schooltype,intendedgradyear,...,female,MinorityGender,MinorityRace,outofstate,international,firstinfamily,alumni,sports,artist,workexp
0,B35NNAD1BS,NaN,NaN,0.301621,0.470987,NaN,0.563065,2,3,NaN,...,0,1,1,0,NaN,NaN,1,0,1,0
0,B35NNAD1BS,NaN,NaN,0.301621,0.470987,NaN,0.563065,2,3,NaN,...,0,1,1,0,NaN,NaN,1,0,1,0
1,F574U1RKZ9,0.308170,0.925539,0.272545,0.970805,0.406047,0.076961,NaN,2,2019,...,NaN,1,1,1,0,NaN,NaN,1,0,NaN
2,XS3YZUESGI,0.943050,0.819815,0.042589,0.414688,0.516734,0.778593,4,NaN,2014,...,0,1,NaN,1,NaN,0,NaN,0,1,NaN
3,VMN8C1IB8H,0.334134,0.837455,NaN,0.263483,0.032355,NaN,5,5,2015,...,1,NaN,0,NaN,1,0,NaN,1,0,NaN
4,FKDXF5XYM8,0.106493,0.354633,0.266321,NaN,NaN,0.683889,3,2,2017,...,NaN,NaN,0,0,1,1,1,NaN,0,NaN
5,OMZ9PDB13K,0.884418,0.099464,0.908385,NaN,0.479624,0.659477,NaN,NaN,NaN,...,0,0,1,NaN,NaN,0,0,1,1,0
6,G7QMLMRI12,0.996101,0.985560,0.654804,0.494901,0.998255,NaN,2,1,2019,...,1,0,1,NaN,NaN,NaN,1,0,1,NaN
7,996GD5B2CO,0.409891,NaN,0.155268,0.709544,0.614443,NaN,2,5,NaN,...,0,NaN,0,1,0,1,0,NaN,0,NaN
8,4C5OBD03AH,0.226728,0.718895,0.172907,NaN,0.595311,0.867092,4,2,2010,...,0,NaN,0,NaN,0,NaN,NaN,0,0,1
9,I03ZINGQZ1,0.321277,0.853497,0.091087,0.370158,0.613724,0.962793,NaN,NaN,NaN,...,0,0,NaN,1,1,0,NaN,NaN,0,1

Let's delete all the data and check that we can read it back successfully.

In [13]:
if ('students' in locals()): 
    students.cleanup()
    del students
if ('applications' in locals()): del applications
if ('applForm' in locals()): del applForm

In [14]:
students = ti.Student()
students.read("mydata.csv")
students.df

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,GPA,program,schooltype,intendedgradyear,...,female,MinorityGender,MinorityRace,outofstate,international,firstinfamily,alumni,sports,artist,workexp
0,YORQ5E84NJ,NaN,0.98,NaN,NaN,NaN,4.5,NaN,-1,2020,...,-1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
0,9828HQ8W5T,NaN,0.98,NaN,NaN,NaN,4.5,NaN,-1,2019,...,1,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
1,OGDW3PRTHS,NaN,0.65,NaN,NaN,NaN,2.2,NaN,1,2019,...,-1,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN

Et, voilà, the data is back.

### Part 2 - The Application Data

This is pretty much the same, **except** for two important differences:

* The studentID and collegeID must both be populated and exist in the respective DataFrames
* The columns are a little different. Normally acceptProb would not be populated from the scraper but could be used to store prediction runs.

In [15]:
# we already wiped out applForm above
applForm = ti.ApplForm()
applForm.df

Empty DataFrame
Columns: [studentID, collegeID, earlyAppl, visited, acceptStatus, acceptProb]
Index: []

In [16]:
# either pick one from the students.df DataFrame, like this:
#--- studentID = students.df.iloc[1].studentID
# or use the studentID from the insert in the students DataFrame
studentID = newsinglestudentID[0]
collegeID = colleges.df.iloc[1].collegeID

In [17]:
print studentID, collegeID

YORQ5E84NJ Harvard

In [18]:
newrow = {'studentID': studentID,
         'collegeID': collegeID,
         'earlyAppl' : 0,
         'visited': 0,
         'acceptStatus': 0}

applForm.insert(newrow)
applForm.df

    studentID collegeID  earlyAppl  visited  acceptStatus acceptProb
0  YORQ5E84NJ   Harvard          0        0             0        NaN

Now inserting multiple rows

In [19]:
rows = []
# either pick one randomly:
#--- studentID = students.df.iloc[2].studentID
# or use the list from the insert into the students DataFrame
# iterate over the list of newstudentIDs if necessary
studentID = newmanystudentIDs[0]
collegeID = colleges.df.iloc[2].collegeID
newrow = {'studentID': studentID,
         'collegeID': collegeID,
         'earlyAppl' : 0,
         'visited': 0,
         'acceptStatus': 0}
rows.append(newrow)
# note: same student, new school to apply to
studentID = students.df.iloc[2].studentID
collegeID = colleges.df.iloc[3].collegeID
newrow = {'studentID': studentID,
         'collegeID': collegeID,
         'earlyAppl' : 1,
         'visited': 1,
         'acceptStatus': 1}
rows.append(newrow)
applForm.insert(rows)
applForm.df

    studentID collegeID  earlyAppl  visited  acceptStatus acceptProb
0  YORQ5E84NJ   Harvard          0        0             0        NaN
0  9828HQ8W5T      Yale          0        0             0        NaN
1  OGDW3PRTHS  Columbia          1        1             1        NaN

Let's save it

In [20]:
applForm.save("applform1.csv")

Then delete the local variable

In [21]:
if ('applForm' in locals()): del applForm

Then read it back

In [22]:
applForm = ti.ApplForm()
applForm.read("applform1.csv")
applForm.df

    studentID collegeID  earlyAppl  visited  acceptStatus  acceptProb
0  YORQ5E84NJ   Harvard          0        0             0         NaN
0  9828HQ8W5T      Yale          0        0             0         NaN
1  OGDW3PRTHS  Columbia          1        1             1         NaN

And now let's check that the merge still works

In [23]:
applications = pd.merge(students.df,applForm.df)
applications

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,GPA,program,schooltype,intendedgradyear,...,firstinfamily,alumni,sports,artist,workexp,collegeID,earlyAppl,visited,acceptStatus,acceptProb
0,YORQ5E84NJ,NaN,0.98,NaN,NaN,NaN,4.5,NaN,-1,2020,...,NaN,NaN,NaN,NaN,NaN,Harvard,0,0,0,NaN
1,9828HQ8W5T,NaN,0.98,NaN,NaN,NaN,4.5,NaN,-1,2019,...,NaN,NaN,NaN,NaN,NaN,Yale,0,0,0,NaN
2,OGDW3PRTHS,NaN,0.65,NaN,NaN,NaN,2.2,NaN,1,2019,...,NaN,NaN,NaN,NaN,NaN,Columbia,1,1,1,NaN

Ok, we are done for today.

# Logistic Regression

In [116]:
from sklearn.cross_validation import KFold
from sklearn.metrics import accuracy_score
from sklearn.grid_search import GridSearchCV
from sklearn.linear_model import LogisticRegression
%reload_ext rpy2.ipython
from rpy2.robjects import pandas2ri

def cv_score(clf, x, y, score_func=accuracy_score):
    result = 0
    nfold = 2
    for train, test in KFold(y.size, nfold): # split data into train/test groups, 5 times
        clf.fit(x[train], y[train]) # fit
        result += score_func(clf.predict(x[test]), y[test]) # evaluate score function on held-out data
    return result / nfold # average

In [7]:
df = applications.drop(["acceptProb","collegeID","studentID"],axis=1)
df.to_csv("testdf.csv")

In [ ]:
%%R 
install.packages("DMwR")
library("DMwR")
dfr = read.csv("testdf.csv",header=T)
knnImputation(dfr, k = 10, scale = T, meth = "weighAvg",
              distData = NULL)
# log_reg = glm(acceptStatus ~ ., data=dfr, family=binomial(link="logit"), na.action=na.exclude)

Selection: j
Selection: j
Selection: js
Selection: werty
Selection:
Selection:
Selection:
Selection:
Selection:
Selection:
Selection:

KeyboardInterrupt:

KeyboardInterrupt:

In [ ]:
%%R
print(na.exclude(dfr))