In [1]:
import TIdatabase as ti
import pandas as pd

In [5]:
colleges = ti.College()

In [6]:
students = ti.Student()
students.read("scrape/collegedata/collegedata_students.csv")

In [7]:
applForm = ti.ApplForm()
applForm.read("scrape/collegedata/collegedata_applications.csv")

In [10]:
# Merge all three tables into a single dataframe
applications = pd.merge(students.df, applForm.df)
applications = pd.merge(applications, colleges.df)
applications.head(10)

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,GPA,GPA_w,program,schooltype,...,alumni,outofstate,acceptStatus,acceptProb,name,acceptrate,size,public,finAidPct,instatePct
0,PWY05BUB4I,NaN,2290,7,5.000000,3,3.80,4.34,Biomedical engineering,-1,...,-1,-1,1,NaN,Rice,15.10%,6621,-1,0,0
1,3UVDFVI9Z0,NaN,2180,7,4.714286,2,3.94,4.47,Classics,-1,...,-1,1,1,NaN,Rice,15.10%,6621,-1,0,0
2,BCCBHJUP0M,NaN,2180,0,NaN,3,3.92,3.92,Biological Science,1,...,-1,1,-1,NaN,Rice,15.10%,6621,-1,0,0
3,WZFPWHSQMS,NaN,2370,7,4.857143,4,3.86,4.17,Physics,1,...,-1,1,-1,NaN,Rice,15.10%,6621,-1,0,0
4,5W1JNQA7G0,NaN,2200,1,4.000000,2,3.95,NaN,NaN,1,...,-1,1,1,NaN,Rice,15.10%,6621,-1,0,0
5,TWUKL79B6V,NaN,2200,0,NaN,2,4.00,NaN,Political Science,1,...,-1,1,0,NaN,Rice,15.10%,6621,-1,0,0
6,1OJUGUL4LL,NaN,2270,0,NaN,2,3.90,4.40,Computer Science,-1,...,-1,1,-1,NaN,Rice,15.10%,6621,-1,0,0
7,NX2TARIB0P,NaN,1700,3,3.666667,2,3.70,4.20,NaN,-1,...,-1,1,-1,NaN,Rice,15.10%,6621,-1,0,0
8,N4Y1IOID8K,NaN,2140,7,4.000000,0,3.94,3.94,Business,-1,...,-1,-1,-1,NaN,Rice,15.10%,6621,-1,0,0
9,911MU875UY,NaN,2120,4,4.250000,2,4.00,5.00,Computer Science,-1,...,-1,1,1,NaN,Rice,15.10%,6621,-1,0,0

In [19]:
# Now normalize specific columns
# Ref: http://stackoverflow.com/questions/28576540/how-can-i-normalize-the-data-in-a-range-of-columns-in-my-pandas-dataframe
print applications.columns

cols_to_norm = ['admissionstest', 'averageAP', 'SATsubject', 'GPA', 'GPA_w']
applications[cols_to_norm] = applications[cols_to_norm].apply(lambda x: (x - x.mean()) / (x.max() - x.min()))
print applications.shape
applications.head(10)

Index([u'studentID', u'classrank', u'admissionstest', u'AP', u'averageAP',
       u'SATsubject', u'GPA', u'GPA_w', u'program', u'schooltype',
       u'intendedgradyear', u'addInfo', u'canAfford', u'female',
       u'MinorityGender', u'MinorityRace', u'international', u'firstinfamily',
       u'sports', u'artist', u'workexp', u'collegeID', u'earlyAppl',
       u'visited', u'alumni', u'outofstate', u'acceptStatus', u'acceptProb',
       u'name', u'acceptrate', u'size', u'public', u'finAidPct',
       u'instatePct'],
      dtype='object')
(16062, 34)

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,GPA,GPA_w,program,schooltype,...,alumni,outofstate,acceptStatus,acceptProb,name,acceptrate,size,public,finAidPct,instatePct
0,PWY05BUB4I,NaN,0.111013,7,0.187427,0.070643,-0.013895,0.005109,Biomedical engineering,-1,...,-1,-1,1,NaN,Rice,15.10%,6621,-1,0,0
1,3UVDFVI9Z0,NaN,0.035099,7,0.115998,-0.096024,0.036646,0.033998,Classics,-1,...,-1,1,1,NaN,Rice,15.10%,6621,-1,0,0
2,BCCBHJUP0M,NaN,0.035099,0,NaN,0.070643,0.029426,-0.088225,Biological Science,1,...,-1,1,-1,NaN,Rice,15.10%,6621,-1,0,0
3,WZFPWHSQMS,NaN,0.166223,7,0.151713,0.237310,0.007765,-0.032669,Physics,1,...,-1,1,-1,NaN,Rice,15.10%,6621,-1,0,0
4,5W1JNQA7G0,NaN,0.048901,1,-0.062573,-0.096024,0.040256,NaN,NaN,1,...,-1,1,1,NaN,Rice,15.10%,6621,-1,0,0
5,TWUKL79B6V,NaN,0.048901,0,NaN,-0.096024,0.058307,NaN,Political Science,1,...,-1,1,0,NaN,Rice,15.10%,6621,-1,0,0
6,1OJUGUL4LL,NaN,0.097210,0,NaN,-0.096024,0.022206,0.018442,Computer Science,-1,...,-1,1,-1,NaN,Rice,15.10%,6621,-1,0,0
7,NX2TARIB0P,NaN,-0.296164,3,-0.145906,-0.096024,-0.049996,-0.026002,NaN,-1,...,-1,1,-1,NaN,Rice,15.10%,6621,-1,0,0
8,N4Y1IOID8K,NaN,0.007493,7,-0.062573,-0.429357,0.036646,-0.083780,Business,-1,...,-1,-1,-1,NaN,Rice,15.10%,6621,-1,0,0
9,911MU875UY,NaN,-0.006309,4,-0.000073,-0.096024,0.058307,0.151775,Computer Science,-1,...,-1,1,1,NaN,Rice,15.10%,6621,-1,0,0

In [18]:
applications.to_csv("collegedata_normalized.csv")