# Sample Database Code

Steal this code.

The TIdatabase module encapsulates all of the loading, storing and joining of the student, college and applications.

The module should be imported at the beginning of your code, whether it is a regular Python file or an iPython Notebook.

In [1]:
import TIdatabase as ti
import pandas as pd

## Generating Mock Data

In [2]:

students = ti.Student()
# populate students with random values
students.fillRandom(10)
students.df

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,GPA,program,schooltype,intendedgradyear,...,female,MinorityGender,MinorityRace,outofstate,international,firstinfamily,alumni,sports,artist,workexp
0,0U74U8GQ1Y,0.681296,0.311363,0.420815,0.460320,0.588990,0.658867,4,1,2012,...,1,0,0,1,1,0,1,0,0,0
1,MKZTEPJ9RE,0.537716,0.966810,0.374578,0.896395,0.829746,0.777663,1,2,2014,...,1,1,0,0,1,0,0,0,0,0
2,RLXSLHT0X9,0.504722,0.920489,0.209551,0.338578,0.808935,0.403175,4,4,2014,...,1,0,1,1,0,1,1,0,0,0
3,XVLJ760L6D,0.730925,0.406362,0.690285,0.321138,0.086154,0.838220,1,5,2016,...,0,0,0,0,0,0,1,1,0,0
4,1VABZQNG1P,0.557389,0.453381,0.516077,0.562401,0.798034,0.278943,5,4,2020,...,0,0,0,0,1,0,1,0,0,1
5,D1Y0492SKN,0.555902,0.725576,0.948351,0.236408,0.900005,0.435471,5,5,2013,...,1,0,0,0,0,1,0,0,1,0
6,NRQ29IUWQW,0.786912,0.113226,0.375711,0.022400,0.473663,0.693678,3,1,2019,...,1,1,1,1,1,0,0,0,1,1
7,FCB4D6Y02M,0.877981,0.617910,0.134262,0.417334,0.233135,0.246078,3,3,2010,...,1,0,0,1,0,0,0,1,0,1
8,O8PAPNAYWZ,0.632310,0.116858,0.653182,0.184182,0.441127,0.072163,2,1,2020,...,0,0,1,0,0,1,0,1,0,1
9,M9V2377A7A,0.160392,0.644164,0.391403,0.503301,0.852479,0.702103,3,3,2019,...,1,1,1,1,1,1,0,1,0,1

#### Simulating Missing Data

You can also simulate NaNs in the scraping. fillRandom takes a second optional parameter that is the percentage of NaNs to generate

In [3]:
students.fillRandom(10, 0.25) # 25% of values will be NaN
students.df

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,GPA,program,schooltype,intendedgradyear,...,female,MinorityGender,MinorityRace,outofstate,international,firstinfamily,alumni,sports,artist,workexp
0,ZJ0DMYMQFD,NaN,NaN,0.392763,0.973673,0.736221,0.944828,4,NaN,NaN,...,NaN,NaN,1,0,0,0,1,1,1,0
1,OWAAYHXEOH,0.583476,0.285174,0.142867,NaN,0.120731,0.437373,2,3,NaN,...,0,NaN,1,0,NaN,0,NaN,0,1,1
2,KNU1BACF21,0.350841,NaN,NaN,0.599069,NaN,0.370988,3,4,2015,...,1,1,1,NaN,NaN,0,NaN,1,1,1
3,8DX9HTT2ML,NaN,0.020489,0.213295,0.986015,0.641772,0.212419,5,5,2013,...,0,NaN,1,1,0,0,0,NaN,NaN,NaN
4,3O6S35JT3V,0.024349,0.603591,0.928287,NaN,NaN,0.809185,4,NaN,NaN,...,1,0,1,1,1,0,1,0,1,NaN
5,FERKT5W7RL,0.367074,NaN,NaN,0.447021,0.751116,NaN,3,2,2020,...,1,1,NaN,0,0,1,NaN,NaN,1,0
6,FEI2UGR6P1,NaN,0.225595,0.496193,0.358398,0.031357,0.422859,1,NaN,2012,...,NaN,0,NaN,1,NaN,1,1,NaN,1,1
7,YAV58AC564,0.585897,NaN,NaN,0.365805,0.143502,NaN,1,4,NaN,...,0,0,0,0,NaN,1,0,1,1,NaN
8,HN3912NMCV,0.327411,0.403188,NaN,0.016638,0.277693,0.411450,1,NaN,2018,...,0,1,1,NaN,NaN,1,1,0,NaN,0
9,7QQY3R90RJ,0.663632,NaN,0.852383,0.732602,0.586935,0.843751,1,5,NaN,...,1,NaN,1,1,0,0,NaN,NaN,1,NaN

The list of colleges is populated from a CSV stored in the same directory as this notebook. It can be edited using your favorite CSV editor, such as Excel. When you create a new instance of College, the values will be read in from the CSV

In [4]:
# populate with list of known colleges
colleges = ti.College()
colleges.df

,collegeID,name,acceptrate,size,public,finAidPct,instatePct
0,Princeton,Princeton,7.40%,5142,-1,0.00,0
1,Harvard,Harvard,6.00%,19929,-1,0.75,0
2,Yale,Yale,6.30%,12336,-1,0.00,0
3,Columbia,Columbia,7.00%,24221,-1,0.00,0
4,Stanford,Stanford,5.10%,16795,-1,0.00,0
5,UChicago,UChicago,8.80%,12558,-1,0.00,0
6,MIT,MIT,7.90%,11319,-1,0.00,0
7,Duke,Duke,11.40%,15856,-1,0.00,0
8,UPenn,UPenn,10.40%,21296,-1,0.00,0
9,CalTech,CalTech,8.80%,2209,-1,0.00,0
10,JohnsHopkins,JohnsHopkins,15.00%,21484,-1,0.00,0
11,Dartmouth,Dartmouth,11.50%,6298,-1,0.00,0
12,Northwestern,Northwestern,13.10%,20336,-1,0.00,0
13,Brown,Brown,8.70%,9181,-1,0.00,0
14,Cornell,Cornell,14.20%,21850,-1,0.00,0
15,Vanderbilt,Vanderbilt,13.10%,12686,-1,0.00,0
16,WashU,WashU,17.10%,14348,-1,0.00,0
17,Rice,Rice,15.10%,6621,-1,0.00,0
18,NotreDame,NotreDame,21.10%,12179,-1,0.00,0
19,UCB,UCB,16.00%,37581,1,0.66,0
20,Emory,Emory,26.80%,14769,-1,0.00,0
21,Georgetown,Georgetown,17.40%,17858,-1,0.00,0
22,CarnegieMellon,CarnegieMellon,24.60%,13285,-1,0.00,0
23,UCLA,UCLA,18.60%,43239,1,0.00,0
24,USC,USC,18.00%,42469,1,0.00,0

This is the table of application forms. "acceptStatus" is our predictor. "acceptProb" is our $\hat{Y}$ probability.

In [5]:
applForm = ti.ApplForm()
applForm.fillRandom(30)
applForm.df

     studentID       collegeID  earlyAppl  visited  acceptStatus  acceptProb
0   8DX9HTT2ML         Harvard          1        1             0    0.081130
1   FEI2UGR6P1         CalTech          1        1             0    0.732067
2   FERKT5W7RL         Cornell          0        0             1    0.086464
3   KNU1BACF21            Yale          0        0             1    0.065948
4   OWAAYHXEOH            Rice          0        0             1    0.866633
5   YAV58AC564            Duke          0        0             0    0.728476
6   8DX9HTT2ML           WashU          0        1             0    0.112387
7   ZJ0DMYMQFD           Emory          0        1             0    0.969769
8   8DX9HTT2ML       Dartmouth          1        0             0    0.140261
9   3O6S35JT3V             USC          0        0             1    0.784962
10  8DX9HTT2ML        Stanford          1        0             0    0.453343
11  FEI2UGR6P1            Yale          0        0             0    0.105389
12  FERKT5W7RL           Brown          1        0             1    0.907561
13  FEI2UGR6P1  CarnegieMellon          0        0             1    0.552875
14  3O6S35JT3V         CalTech          1        1             1    0.876169
15  OWAAYHXEOH             USC          1        0             1    0.012418
16  ZJ0DMYMQFD        UChicago          1        0             1    0.874098
17  3O6S35JT3V           UPenn          1        0             0    0.555639
18  FERKT5W7RL    JohnsHopkins          0        1             0    0.638167
19  YAV58AC564         CalTech          1        0             1    0.516954
20  KNU1BACF21           Emory          1        0             0    0.613551
21  7QQY3R90RJ        Columbia          0        1             0    0.260013
22  YAV58AC564    JohnsHopkins          1        1             1    0.564671
23  OWAAYHXEOH             MIT          0        1             0    0.688796
24  KNU1BACF21       NotreDame          0        0             0    0.053472
25  FERKT5W7RL       Dartmouth          0        0             0    0.603720
26  7QQY3R90RJ             UCB          1        0             1    0.802815
27  8DX9HTT2ML        UChicago          1        0             1    0.391863
28  FERKT5W7RL        Stanford          0        1             1    0.784355
29  FERKT5W7RL           UPenn          0        0             1    0.912763

To combine the student and application forms tables, use Pandas merge capability, which will match rows by identical column names, which is studentID in this case:

In [6]:
applications = pd.merge(students.df,applForm.df)
applications

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,GPA,program,schooltype,intendedgradyear,...,firstinfamily,alumni,sports,artist,workexp,collegeID,earlyAppl,visited,acceptStatus,acceptProb
0,ZJ0DMYMQFD,NaN,NaN,0.392763,0.973673,0.736221,0.944828,4,NaN,NaN,...,0,1,1,1,0,Emory,0,1,0,0.969769
1,ZJ0DMYMQFD,NaN,NaN,0.392763,0.973673,0.736221,0.944828,4,NaN,NaN,...,0,1,1,1,0,UChicago,1,0,1,0.874098
2,OWAAYHXEOH,0.583476,0.285174,0.142867,NaN,0.120731,0.437373,2,3,NaN,...,0,NaN,0,1,1,Rice,0,0,1,0.866633
3,OWAAYHXEOH,0.583476,0.285174,0.142867,NaN,0.120731,0.437373,2,3,NaN,...,0,NaN,0,1,1,USC,1,0,1,0.012418
4,OWAAYHXEOH,0.583476,0.285174,0.142867,NaN,0.120731,0.437373,2,3,NaN,...,0,NaN,0,1,1,MIT,0,1,0,0.688796
5,KNU1BACF21,0.350841,NaN,NaN,0.599069,NaN,0.370988,3,4,2015,...,0,NaN,1,1,1,Yale,0,0,1,0.065948
6,KNU1BACF21,0.350841,NaN,NaN,0.599069,NaN,0.370988,3,4,2015,...,0,NaN,1,1,1,Emory,1,0,0,0.613551
7,KNU1BACF21,0.350841,NaN,NaN,0.599069,NaN,0.370988,3,4,2015,...,0,NaN,1,1,1,NotreDame,0,0,0,0.053472
8,8DX9HTT2ML,NaN,0.020489,0.213295,0.986015,0.641772,0.212419,5,5,2013,...,0,0,NaN,NaN,NaN,Harvard,1,1,0,0.081130
9,8DX9HTT2ML,NaN,0.020489,0.213295,0.986015,0.641772,0.212419,5,5,2013,...,0,0,NaN,NaN,NaN,WashU,0,1,0,0.112387
10,8DX9HTT2ML,NaN,0.020489,0.213295,0.986015,0.641772,0.212419,5,5,2013,...,0,0,NaN,NaN,NaN,Dartmouth,1,0,0,0.140261
11,8DX9HTT2ML,NaN,0.020489,0.213295,0.986015,0.641772,0.212419,5,5,2013,...,0,0,NaN,NaN,NaN,Stanford,1,0,0,0.453343
12,8DX9HTT2ML,NaN,0.020489,0.213295,0.986015,0.641772,0.212419,5,5,2013,...,0,0,NaN,NaN,NaN,UChicago,1,0,1,0.391863
13,3O6S35JT3V,0.024349,0.603591,0.928287,NaN,NaN,0.809185,4,NaN,NaN,...,0,1,0,1,NaN,USC,0,0,1,0.784962
14,3O6S35JT3V,0.024349,0.603591,0.928287,NaN,NaN,0.809185,4,NaN,NaN,...,0,1,0,1,NaN,CalTech,1,1,1,0.876169
15,3O6S35JT3V,0.024349,0.603591,0.928287,NaN,NaN,0.809185,4,NaN,NaN,...,0,1,0,1,NaN,UPenn,1,0,0,0.555639
16,FERKT5W7RL,0.367074,NaN,NaN,0.447021,0.751116,NaN,3,2,2020,...,1,NaN,NaN,1,0,Cornell,0,0,1,0.086464
17,FERKT5W7RL,0.367074,NaN,NaN,0.447021,0.751116,NaN,3,2,2020,...,1,NaN,NaN,1,0,Brown,1,0,1,0.907561
18,FERKT5W7RL,0.367074,NaN,NaN,0.447021,0.751116,NaN,3,2,2020,...,1,NaN,NaN,1,0,JohnsHopkins,0,1,0,0.638167
19,FERKT5W7RL,0.367074,NaN,NaN,0.447021,0.751116,NaN,3,2,2020,...,1,NaN,NaN,1,0,Dartmouth,0,0,0,0.603720
20,FERKT5W7RL,0.367074,NaN,NaN,0.447021,0.751116,NaN,3,2,2020,...,1,NaN,NaN,1,0,Stanford,0,1,1,0.784355
21,FERKT5W7RL,0.367074,NaN,NaN,0.447021,0.751116,NaN,3,2,2020,...,1,NaN,NaN,1,0,UPenn,0,0,1,0.912763
22,FEI2UGR6P1,NaN,0.225595,0.496193,0.358398,0.031357,0.422859,1,NaN,2012,...,1,1,NaN,1,1,CalTech,1,1,0,0.732067
23,FEI2UGR6P1,NaN,0.225595,0.496193,0.358398,0.031357,0.422859,1,NaN,2012,...,1,1,NaN,1,1,Yale,0,0,0,0.105389
24,FEI2UGR6P1,NaN,0.225595,0.496193,0.358398,0.031357,0.422859,1,NaN,2012,...,1,1,NaN,1,1,CarnegieMellon,0,0,1,0.552875
25,YAV58AC564,0.585897,NaN,NaN,0.365805,0.143502,NaN,1,4,NaN,...,1,0,1,1,NaN,Duke,0,0,0,0.728476
26,YAV58AC564,0.585897,NaN,NaN,0.365805,0.143502,NaN,1,4,NaN,...,1,0,1,1,NaN,CalTech,1,0,1,0.516954
27,YAV58AC564,0.585897,NaN,NaN,0.365805,0.143502,NaN,1,4,NaN,...,1,0,1,1,NaN,JohnsHopkins,1,1,1,0.564671
28,7QQY3R90RJ,0.663632,NaN,0.852383,0.732602,0.586935,0.843751,1,5,NaN,...,0,NaN,NaN,1,NaN,Columbia,0,1,0,0.260013
29,7QQY3R90RJ,0.663632,NaN,0.852383,0.732602,0.586935,0.843751,1,5,NaN,...,0,NaN,NaN,1,NaN,UCB,1,0,1,0.802815

Now the `applications` Pandas DataFrame is ready to use for either regression (by overwriting the acceptProb column) or building the public facing web site.

## Saving Scraped Data

### Part 1 - The Student Data

First, let's start fresh and delete the previously created objects. This is only necessary because this sample script is running within Jupyter where all variables are global to the page. In a separate Python file run from the command line, this step can be skipped. Creating a new instance would not work as behind the scenes, there is sharing of
DataFrames between objects.

In [7]:
if ('students' in locals()): 
    students.cleanup()
    del students
if ('applications' in locals()): del applications
if ('applForm' in locals()): del applForm

Let's create a new students instance. It will be an empty Pandas dataframe with the correct columns

In [8]:
students = ti.Student()
students.df

Empty DataFrame
Columns: [studentID, classrank, admissionstest, AP, averageAP, SATsubject, GPA, program, schooltype, intendedgradyear, canAfford, female, MinorityGender, MinorityRace, outofstate, international, firstinfamily, alumni, sports, artist, workexp]
Index: []

[0 rows x 21 columns]

Populate a dictionary with the values that the scraper has for a given row. Make sure the keys match up with the column names as only the matching columns will be saved. There is no need to add the studentID key. A unique value will be generated automatically and returned from the insert. This will be in the same order as the provided rows. Saving the generated student IDs will be helpful later when populating the applForm foreign key.

In [9]:

# Example: international male who scored in 98th percentile in ACT/SAT, went to a public school and is applying for
# Class of 2020

newrow = {'admissionstest': 0.98,
         'GPA': 4.5,
         'female' : -1,
         'international': 1,
         'schooltype': -1,
         'intendedgradyear':2020}

newsinglestudentID = students.insert(newrow)
print "New studentID:",newsinglestudentID
students.df

New studentID: ['V9OP0JIIYX']

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,GPA,program,schooltype,intendedgradyear,...,female,MinorityGender,MinorityRace,outofstate,international,firstinfamily,alumni,sports,artist,workexp
0,V9OP0JIIYX,NaN,0.98,NaN,NaN,NaN,4.5,NaN,-1,2020,...,-1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN

It is more efficient if multiple rows are added in one step. In this case, create a list of dictionaries and just
use the same method. Here, two new rows are added to the DataFrame in one step.

In [10]:
rows = []
a = {'schooltype': -1, 'admissionstest': 0.98, 'GPA': 4.5, 'female': 1, 'intendedgradyear': 2019, 'international': 0}
rows.append(a)
a = {'schooltype': 1, 'admissionstest': 0.65, 'GPA': 2.2, 'female': -1, 'intendedgradyear': 2019, 'international': 0}
rows.append(a)
newmanystudentIDs = students.insert(rows)
print "New studentIDs:",newmanystudentIDs
students.df

New studentIDs: ['90TP46DDFE', 'ZKTSPH74H8']

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,GPA,program,schooltype,intendedgradyear,...,female,MinorityGender,MinorityRace,outofstate,international,firstinfamily,alumni,sports,artist,workexp
0,V9OP0JIIYX,NaN,0.98,NaN,NaN,NaN,4.5,NaN,-1,2020,...,-1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
0,90TP46DDFE,NaN,0.98,NaN,NaN,NaN,4.5,NaN,-1,2019,...,1,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
1,ZKTSPH74H8,NaN,0.65,NaN,NaN,NaN,2.2,NaN,1,2019,...,-1,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN

Now we are ready to save. The data is saved in CSV format for ease of interpretability.

In [11]:
students.save("mydata.csv")

Let's delete all the data and check that we can read it back successfully.

In [12]:
if ('students' in locals()): 
    students.cleanup()
    del students
if ('applications' in locals()): del applications
if ('applForm' in locals()): del applForm

In [13]:
students = ti.Student()
students.read("mydata.csv")
students.df

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,GPA,program,schooltype,intendedgradyear,...,female,MinorityGender,MinorityRace,outofstate,international,firstinfamily,alumni,sports,artist,workexp
0,V9OP0JIIYX,NaN,0.98,NaN,NaN,NaN,4.5,NaN,-1,2020,...,-1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
0,90TP46DDFE,NaN,0.98,NaN,NaN,NaN,4.5,NaN,-1,2019,...,1,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
1,ZKTSPH74H8,NaN,0.65,NaN,NaN,NaN,2.2,NaN,1,2019,...,-1,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN

Et, voilÃ , the data is back.

### Part 2 - The Application Data

This is pretty much the same, **except** for two important differences:

* The studentID and collegeID must both be populated and exist in the respective DataFrames
* The columns are a little different. Normally acceptProb would not be populated from the scraper but could be used to store prediction runs.

In [14]:
# we already wiped out applForm above
applForm = ti.ApplForm()
applForm.df

Empty DataFrame
Columns: [studentID, collegeID, earlyAppl, visited, acceptStatus, acceptProb]
Index: []

In [15]:
# either pick one from the students.df DataFrame, like this:
#--- studentID = students.df.iloc[1].studentID
# or use the studentID from the insert in the students DataFrame
studentID = newsinglestudentID[0]
collegeID = colleges.df.iloc[1].collegeID

In [16]:
print studentID, collegeID

V9OP0JIIYX Harvard

In [17]:
newrow = {'studentID': studentID,
         'collegeID': collegeID,
         'earlyAppl' : 0,
         'visited': 0,
         'acceptStatus': 0}

applForm.insert(newrow)
applForm.df

    studentID collegeID  earlyAppl  visited  acceptStatus acceptProb
0  V9OP0JIIYX   Harvard          0        0             0        NaN

Now inserting multiple rows

In [18]:
rows = []
# either pick one randomly:
#--- studentID = students.df.iloc[2].studentID
# or use the list from the insert into the students DataFrame
# iterate over the list of newstudentIDs if necessary
studentID = newmanystudentIDs[0]
collegeID = colleges.df.iloc[2].collegeID
newrow = {'studentID': studentID,
         'collegeID': collegeID,
         'earlyAppl' : 0,
         'visited': 0,
         'acceptStatus': 0}
rows.append(newrow)
# note: same student, new school to apply to
studentID = students.df.iloc[2].studentID
collegeID = colleges.df.iloc[3].collegeID
newrow = {'studentID': studentID,
         'collegeID': collegeID,
         'earlyAppl' : 1,
         'visited': 1,
         'acceptStatus': 1}
rows.append(newrow)
applForm.insert(rows)
applForm.df

    studentID collegeID  earlyAppl  visited  acceptStatus acceptProb
0  V9OP0JIIYX   Harvard          0        0             0        NaN
0  90TP46DDFE      Yale          0        0             0        NaN
1  ZKTSPH74H8  Columbia          1        1             1        NaN

Let's save it

In [19]:
applForm.save("applform1.csv")

Then delete the local variable

In [20]:
if ('applForm' in locals()): del applForm

Then read it back

In [21]:
applForm = ti.ApplForm()
applForm.read("applform1.csv")
applForm.df

    studentID collegeID  earlyAppl  visited  acceptStatus  acceptProb
0  V9OP0JIIYX   Harvard          0        0             0         NaN
0  90TP46DDFE      Yale          0        0             0         NaN
1  ZKTSPH74H8  Columbia          1        1             1         NaN

And now let's check that the merge still works

In [22]:
applications = pd.merge(students.df,applForm.df)
applications

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,GPA,program,schooltype,intendedgradyear,...,firstinfamily,alumni,sports,artist,workexp,collegeID,earlyAppl,visited,acceptStatus,acceptProb
0,V9OP0JIIYX,NaN,0.98,NaN,NaN,NaN,4.5,NaN,-1,2020,...,NaN,NaN,NaN,NaN,NaN,Harvard,0,0,0,NaN
1,90TP46DDFE,NaN,0.98,NaN,NaN,NaN,4.5,NaN,-1,2019,...,NaN,NaN,NaN,NaN,NaN,Yale,0,0,0,NaN
2,ZKTSPH74H8,NaN,0.65,NaN,NaN,NaN,2.2,NaN,1,2019,...,NaN,NaN,NaN,NaN,NaN,Columbia,1,1,1,NaN

Ok, we are done for today.