# Sample Database Code

Steal this code.

The TIdatabase module encapsulates all of the loading, storing and joining of the student, college and applications.

The module should be imported at the beginning of your code, whether it is a regular Python file or an iPython Notebook.

In [1]:
import TIdatabase as ti
import pandas as pd

## Generating Mock Data

In [2]:

students = ti.Student()
# populate students with random values
students.fillRandom(10)
students.df

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,canAfford,GPA,female,MinorityGender,...,outofstate,international,firstinfamily,alumni,sports,artist,program,workexp,schooltype,intendedgradyear
0,1PYA2L2FY0,0.772547,0.312953,0.972352,0.755226,0.992648,1,0.016305,0,1,...,0,0,1,-1,-1,-1,2,-1,5,2018
1,RVC31RU4FH,0.567413,0.526064,0.234507,0.024170,0.072311,0,0.206940,0,-1,...,-1,-1,-1,0,-1,-1,2,1,4,2010
2,EVOB04FGB6,0.224074,0.315935,0.724027,0.893372,0.027362,-1,0.259876,0,-1,...,-1,1,0,-1,0,0,3,1,1,2013
3,IS0HFHMZX8,0.886378,0.271636,0.081435,0.107014,0.933233,0,0.329476,-1,0,...,0,0,-1,-1,-1,0,5,1,4,2013
4,RQJ8YX8416,0.449914,0.249541,0.876981,0.190297,0.229403,-1,0.540464,1,1,...,-1,1,1,0,-1,0,5,-1,3,2011
5,D8X9FHEFKY,0.331201,0.595225,0.466232,0.206832,0.034249,0,0.194538,-1,1,...,1,-1,-1,-1,-1,0,2,1,2,2020
6,XRXUTPOSP5,0.008011,0.555829,0.394811,0.305934,0.822507,-1,0.487282,1,0,...,-1,1,-1,-1,-1,1,2,1,4,2011
7,83WG9P14UY,0.439173,0.782444,0.139709,0.595234,0.856522,-1,0.443083,-1,0,...,-1,0,-1,-1,1,-1,1,1,5,2020
8,RO3BBHM5SO,0.564256,0.426758,0.509677,0.206882,0.899342,-1,0.612376,0,0,...,0,0,-1,0,-1,1,2,0,5,2012
9,99O92HKYFM,0.491166,0.483348,0.639463,0.733935,0.610957,0,0.929077,-1,1,...,-1,-1,0,1,1,-1,4,-1,3,2016

The list of colleges is populated from a CSV stored in the same directory as this notebook. It can be edited using your favorite CSV editor, such as Excel. When you create a new instance of College, the values will be read in from the CSV

In [3]:
# populate with list of known colleges
colleges = ti.College()
colleges.df

,collegeID,name,acceptrate,size,public,finAidPct,instatePct
0,Princeton,Princeton,7.40%,5142,-1,0.00,0
1,Harvard,Harvard,6.00%,19929,-1,0.75,0
2,Yale,Yale,6.30%,12336,-1,0.00,0
3,Columbia,Columbia,7.00%,24221,-1,0.00,0
4,Stanford,Stanford,5.10%,16795,-1,0.00,0
5,UChicago,UChicago,8.80%,12558,-1,0.00,0
6,MIT,MIT,7.90%,11319,-1,0.00,0
7,Duke,Duke,11.40%,15856,-1,0.00,0
8,UPenn,UPenn,10.40%,21296,-1,0.00,0
9,CalTech,CalTech,8.80%,2209,-1,0.00,0
10,JohnsHopkins,JohnsHopkins,15.00%,21484,-1,0.00,0
11,Dartmouth,Dartmouth,11.50%,6298,-1,0.00,0
12,Northwestern,Northwestern,13.10%,20336,-1,0.00,0
13,Brown,Brown,8.70%,9181,-1,0.00,0
14,Cornell,Cornell,14.20%,21850,-1,0.00,0
15,Vanderbilt,Vanderbilt,13.10%,12686,-1,0.00,0
16,WashU,WashU,17.10%,14348,-1,0.00,0
17,Rice,Rice,15.10%,6621,-1,0.00,0
18,NotreDame,NotreDame,21.10%,12179,-1,0.00,0
19,UCB,UCB,16.00%,37581,1,0.66,0
20,Emory,Emory,26.80%,14769,-1,0.00,0
21,Georgetown,Georgetown,17.40%,17858,-1,0.00,0
22,CarnegieMellon,CarnegieMellon,24.60%,13285,-1,0.00,0
23,UCLA,UCLA,18.60%,43239,1,0.00,0
24,USC,USC,18.00%,42469,1,0.00,0

This is the table of application forms. "acceptStatus" is our predictor. "acceptProb" is our $\hat{Y}$ probability.

In [4]:
applForm = ti.ApplForm()
applForm.fillRandom(30)
applForm.df

     studentID       collegeID  earlyAppl  visited  acceptStatus  acceptProb
0   IS0HFHMZX8         Harvard          1       -1            -1    0.802554
1   RO3BBHM5SO        UChicago         -1        1             0    0.012634
2   99O92HKYFM    Northwestern          0       -1            -1    0.236086
3   XRXUTPOSP5        UChicago          0       -1            -1    0.856410
4   D8X9FHEFKY        Columbia          0        1             0    0.250510
5   D8X9FHEFKY           Emory          0        0            -1    0.139196
6   RVC31RU4FH            UCLA          0        0             0    0.330281
7   99O92HKYFM           UPenn         -1        1             1    0.981209
8   1PYA2L2FY0            Duke          1       -1             1    0.805760
9   D8X9FHEFKY    JohnsHopkins         -1        1            -1    0.227903
10  EVOB04FGB6           Brown          0        1             0    0.717655
11  XRXUTPOSP5       Princeton          0       -1             0    0.165256
12  XRXUTPOSP5      Georgetown          1        1            -1    0.156230
13  RO3BBHM5SO         Cornell          0        0             0    0.577457
14  RVC31RU4FH         Harvard         -1       -1             0    0.874498
15  RVC31RU4FH           Brown         -1        0            -1    0.381320
16  D8X9FHEFKY             MIT         -1       -1             1    0.602171
17  83WG9P14UY  CarnegieMellon          1       -1             1    0.489300
18  EVOB04FGB6       Dartmouth          0       -1            -1    0.398490
19  RO3BBHM5SO           WashU          0        1             0    0.229135
20  EVOB04FGB6           UPenn          1        1             1    0.472334
21  EVOB04FGB6         Cornell          0       -1             0    0.831665
22  IS0HFHMZX8           Emory         -1        0            -1    0.641024
23  EVOB04FGB6        Stanford         -1       -1             1    0.939433
24  83WG9P14UY           Emory          1       -1            -1    0.823850
25  99O92HKYFM            Duke          0        0             1    0.017691
26  EVOB04FGB6             UCB         -1        1             0    0.541228
27  1PYA2L2FY0        Stanford         -1        1            -1    0.321148
28  RQJ8YX8416         CalTech          0        1             0    0.871564
29  D8X9FHEFKY            Duke         -1        1            -1    0.118819

To combine the student and application forms tables, use Pandas merge capability, which will match rows by identical column names, which studentID in this case:

In [5]:
applications = pd.merge(students.df,applForm.df)
applications

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,canAfford,GPA,female,MinorityGender,...,artist,program,workexp,schooltype,intendedgradyear,collegeID,earlyAppl,visited,acceptStatus,acceptProb
0,1PYA2L2FY0,0.772547,0.312953,0.972352,0.755226,0.992648,1,0.016305,0,1,...,-1,2,-1,5,2018,Duke,1,-1,1,0.805760
1,1PYA2L2FY0,0.772547,0.312953,0.972352,0.755226,0.992648,1,0.016305,0,1,...,-1,2,-1,5,2018,Stanford,-1,1,-1,0.321148
2,RVC31RU4FH,0.567413,0.526064,0.234507,0.024170,0.072311,0,0.206940,0,-1,...,-1,2,1,4,2010,UCLA,0,0,0,0.330281
3,RVC31RU4FH,0.567413,0.526064,0.234507,0.024170,0.072311,0,0.206940,0,-1,...,-1,2,1,4,2010,Harvard,-1,-1,0,0.874498
4,RVC31RU4FH,0.567413,0.526064,0.234507,0.024170,0.072311,0,0.206940,0,-1,...,-1,2,1,4,2010,Brown,-1,0,-1,0.381320
5,EVOB04FGB6,0.224074,0.315935,0.724027,0.893372,0.027362,-1,0.259876,0,-1,...,0,3,1,1,2013,Brown,0,1,0,0.717655
6,EVOB04FGB6,0.224074,0.315935,0.724027,0.893372,0.027362,-1,0.259876,0,-1,...,0,3,1,1,2013,Dartmouth,0,-1,-1,0.398490
7,EVOB04FGB6,0.224074,0.315935,0.724027,0.893372,0.027362,-1,0.259876,0,-1,...,0,3,1,1,2013,UPenn,1,1,1,0.472334
8,EVOB04FGB6,0.224074,0.315935,0.724027,0.893372,0.027362,-1,0.259876,0,-1,...,0,3,1,1,2013,Cornell,0,-1,0,0.831665
9,EVOB04FGB6,0.224074,0.315935,0.724027,0.893372,0.027362,-1,0.259876,0,-1,...,0,3,1,1,2013,Stanford,-1,-1,1,0.939433
10,EVOB04FGB6,0.224074,0.315935,0.724027,0.893372,0.027362,-1,0.259876,0,-1,...,0,3,1,1,2013,UCB,-1,1,0,0.541228
11,IS0HFHMZX8,0.886378,0.271636,0.081435,0.107014,0.933233,0,0.329476,-1,0,...,0,5,1,4,2013,Harvard,1,-1,-1,0.802554
12,IS0HFHMZX8,0.886378,0.271636,0.081435,0.107014,0.933233,0,0.329476,-1,0,...,0,5,1,4,2013,Emory,-1,0,-1,0.641024
13,RQJ8YX8416,0.449914,0.249541,0.876981,0.190297,0.229403,-1,0.540464,1,1,...,0,5,-1,3,2011,CalTech,0,1,0,0.871564
14,D8X9FHEFKY,0.331201,0.595225,0.466232,0.206832,0.034249,0,0.194538,-1,1,...,0,2,1,2,2020,Columbia,0,1,0,0.250510
15,D8X9FHEFKY,0.331201,0.595225,0.466232,0.206832,0.034249,0,0.194538,-1,1,...,0,2,1,2,2020,Emory,0,0,-1,0.139196
16,D8X9FHEFKY,0.331201,0.595225,0.466232,0.206832,0.034249,0,0.194538,-1,1,...,0,2,1,2,2020,JohnsHopkins,-1,1,-1,0.227903
17,D8X9FHEFKY,0.331201,0.595225,0.466232,0.206832,0.034249,0,0.194538,-1,1,...,0,2,1,2,2020,MIT,-1,-1,1,0.602171
18,D8X9FHEFKY,0.331201,0.595225,0.466232,0.206832,0.034249,0,0.194538,-1,1,...,0,2,1,2,2020,Duke,-1,1,-1,0.118819
19,XRXUTPOSP5,0.008011,0.555829,0.394811,0.305934,0.822507,-1,0.487282,1,0,...,1,2,1,4,2011,UChicago,0,-1,-1,0.856410
20,XRXUTPOSP5,0.008011,0.555829,0.394811,0.305934,0.822507,-1,0.487282,1,0,...,1,2,1,4,2011,Princeton,0,-1,0,0.165256
21,XRXUTPOSP5,0.008011,0.555829,0.394811,0.305934,0.822507,-1,0.487282,1,0,...,1,2,1,4,2011,Georgetown,1,1,-1,0.156230
22,83WG9P14UY,0.439173,0.782444,0.139709,0.595234,0.856522,-1,0.443083,-1,0,...,-1,1,1,5,2020,CarnegieMellon,1,-1,1,0.489300
23,83WG9P14UY,0.439173,0.782444,0.139709,0.595234,0.856522,-1,0.443083,-1,0,...,-1,1,1,5,2020,Emory,1,-1,-1,0.823850
24,RO3BBHM5SO,0.564256,0.426758,0.509677,0.206882,0.899342,-1,0.612376,0,0,...,1,2,0,5,2012,UChicago,-1,1,0,0.012634
25,RO3BBHM5SO,0.564256,0.426758,0.509677,0.206882,0.899342,-1,0.612376,0,0,...,1,2,0,5,2012,Cornell,0,0,0,0.577457
26,RO3BBHM5SO,0.564256,0.426758,0.509677,0.206882,0.899342,-1,0.612376,0,0,...,1,2,0,5,2012,WashU,0,1,0,0.229135
27,99O92HKYFM,0.491166,0.483348,0.639463,0.733935,0.610957,0,0.929077,-1,1,...,-1,4,-1,3,2016,Northwestern,0,-1,-1,0.236086
28,99O92HKYFM,0.491166,0.483348,0.639463,0.733935,0.610957,0,0.929077,-1,1,...,-1,4,-1,3,2016,UPenn,-1,1,1,0.981209
29,99O92HKYFM,0.491166,0.483348,0.639463,0.733935,0.610957,0,0.929077,-1,1,...,-1,4,-1,3,2016,Duke,0,0,1,0.017691

Now the `applications` Pandas DataFrame is ready to use for either regression (by overwriting the acceptProb column) or building the public facing web site.

## Saving Scraped Data

First, let's start fresh and delete the previously created objects. This is only necessary because this sample script is running within Jupyter where all variables are global to the page. In a separate Python file run from the command line, this step can be skipped.

In [6]:
if ('students' in locals()): 
    students.cleanup()
    del students
if ('applications' in locals()): del applications
if ('applForm' in locals()): del applForm
if ('colleges' in locals()): del colleges

Let's create a new students instance. It will be an empty Pandas dataframe with the correct columns

In [7]:
students = ti.Student()
students.df

Empty DataFrame
Columns: [studentID, classrank, admissionstest, AP, averageAP, SATsubject, canAfford, GPA, female, MinorityGender, MinorityRace, outofstate, international, firstinfamily, alumni, sports, artist, program, workexp, schooltype, intendedgradyear]
Index: []

[0 rows x 21 columns]

Populate a dictionary with the values that the scraper has for a given row. Make sure the keys match up with the column names as only the matching columns will be saved. There is no need to add the studentID key. A unique value will be generated automatically.

In [8]:

# Example: international male who scored in 98th percentile in ACT/SAT, went to a public school and is applying for
# Class of 2020

newrow = {'admissionstest': 0.98,
         'GPA': 4.5,
         'female' : -1,
         'international': 1,
         'schooltype': -1,
         'intendgradyear':2020}

students.insert(newrow)
students.df

,AP,GPA,MinorityGender,MinorityRace,SATsubject,admissionstest,alumni,artist,averageAP,canAfford,...,firstinfamily,intendedgradyear,intendgradyear,international,outofstate,program,schooltype,sports,studentID,workexp
0,NaN,4.5,NaN,NaN,NaN,0.98,NaN,NaN,NaN,NaN,...,NaN,NaN,2020,1,NaN,NaN,-1,NaN,RP9V6DL5VY,NaN

It is more efficient if multiple rows are added in one step. In this case, create a list of dictionaries and just
use the same method. Here, two new rows are added to the row

In [9]:
rows = []
a = {'schooltype': -1, 'admissionstest': 0.98, 'GPA': 4.5, 'female': 1, 'intendgradyear': 2019, 'international': 0}
rows.append(a)
a = {'schooltype': 1, 'admissionstest': 0.65, 'GPA': 2.2, 'female': -1, 'intendgradyear': 2019, 'international': 0}
rows.append(a)
students.insert(rows)
students.df

,AP,GPA,MinorityGender,MinorityRace,SATsubject,admissionstest,alumni,artist,averageAP,canAfford,...,firstinfamily,intendedgradyear,intendgradyear,international,outofstate,program,schooltype,sports,studentID,workexp
0,NaN,4.5,NaN,NaN,NaN,0.98,NaN,NaN,NaN,NaN,...,NaN,NaN,2020,1,NaN,NaN,-1,NaN,RP9V6DL5VY,NaN
0,NaN,4.5,NaN,NaN,NaN,0.98,NaN,NaN,NaN,NaN,...,NaN,NaN,2019,0,NaN,NaN,-1,NaN,IBBDWJXT2Y,NaN
1,NaN,2.2,NaN,NaN,NaN,0.65,NaN,NaN,NaN,NaN,...,NaN,NaN,2019,0,NaN,NaN,1,NaN,9SPR37BUUT,NaN